
<form method="post" action="{{ path('admin_space_public_delete', {'id': space_public.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ space_public.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
