{% extends 'base.html.twig' %}

{% block title %}Fournitures{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Fournitures
                    </h2>
                </div>
                <div class="content">
                    <div class="card-deck">
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_menu') }}"><img src="{{ asset('image/usb.jpeg') }}" class="card-img-top" alt="..." style="cursor: pointer; background-color: transparent"></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="view zoom">
                                <a href="{{ path('show_fruit') }}"><img src="{{ asset('image/paperpen.jpeg') }}" class="card-img-top" alt="..."></a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
{% endblock %}
