{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <main class="mt-5 mb-4 pt-3">
        <div class="container">
            <!--FORMULAIRE INSCRIPTION-->
            <section>
                <div class="row d-flex justify-content-center">
                    <!-- Material form login -->
                    <!-- Default form login -->
                    <form class="text-center border border-light mt-5 p-5 col-md-6" method="post">
                        <p class="h4 mb-4">Se connecter</p>
                        <!-- Email -->
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-4" placeholder="Email" required autofocus >

                        <!-- Password -->
                        <input type="password" name="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="d-flex justify-content-around">
                            <div>
                                <!-- Remember me -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                    <label class="custom-control-label" for="defaultLoginFormRemember">Se souvenir de moi</label>
                                </div>
                            </div>
                            <div>
                                <!-- Forgot password -->
                                <a href="">Mot de passe oublié?</a>
                            </div>
                        </div>

                        <!-- Sign in button -->

                        <button class="btn peach-gradient my-4 btn-block" type="submit">Se connecter</button>

                        <hr>
                        <!-- Register -->
                        <p>Pas encore membre?
                            <a href="{{ path('app_register_customer') }}">S'inscrire</a>
                        </p>

                    </form>
                    <!-- Default form login -->
                    <!-- Material form login -->
                </div>
            </section>
            <!--FIN FORMULAIRE INSCRIPTION-->
        </div>
    </main>

{% endblock %}
