{% extends 'base.html.twig' %}

{% block title %}A Propos de nous{% endblock %}

{% block body %}
    <div class="bg"></div>
    <main mt-5>
        <div class="container-fluid">
            <div class="container">


                <!-- SECTION : PRESENTATION -->
                <section id="best-features" class="text-justify">
                    <!-- Heading -->

                    <!--Grid row-->
                    <div class="row mt-5 d-flex align-items-center">

                        <div class="col-md-6">
                            <h2 class="mb-3 font-weight-bold text-uppercase">Qui sommes-nous?</h2>
                            <p class="text-dark text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, et modi quia architecto ducimus illo ipsam nemo ipsa dolor veritatis sunt delectus in veniam quaerat dolores animi quo officiis natus.<br>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia itaque minima libero cumque fuga, architecto officiis nulla laboriosam facere adipisci nesciunt quaerat nobis, perspiciatis sit eveniet esse qui. Cupiditate, quaerat.<br>

                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo dicta quaerat maiores! Voluptas vitae saepe odio suscipit consequatur tempora eligendi quod, reprehenderit explicabo? Veniam cumque ipsum maiores quidem, velit aliquid!</p>


                        </div>
                        <!--MAP-->
                        <div class="col-md-6">
                            <iframe src="mapbox-markers/index.html" width="600" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

                        </div>
                        <!--MAP-->

                    </div>

                </section>
                <!-- FIN SECTION : PRESENTATION -->
                <hr class="my-5">

            </div>
        </div>
    </main>
{% endblock %}
