{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">
                        Conditions générales de vente Gusto-Coffee
                        <h6>Les présentes conditions générales de vente et d’utilisation sont portées à la connaissance de chaque acheteur pour lui permettre de passer commande. Le fait de passer commande implique l’acceptation entière et sans réserve du client à ces conditions générales de vente</h6>
                    </h2>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="card-body">
                            <h6>Article 1 : Nature des prestations et conditions financières</h6>
                            <p class="card-text">
                                Les tarifs et les conditions d’accès au buffet au sein de l’espace privatif sont ceux stipulés sur le site internet au moment de la réservation et dans les conditions générales de vente. La mise à disposition d’un espace privatif au sein du café est uniquement sur réservation et paiement préalable. <br>
                                Les prix pratiqués par Gusto-Coffee sont indiqués sur le site internet au moment de la réservation. Ils sont affichés en euros (€) toutes taxes comprises (TTC). Conformément à la TVA de service, les prix inclus un taux de 20%. <br>
                            <hr>
                            <h6>Article 2 : Réservation</h6>
                            <p class="card-text">
                                L’accès au buffet Gusto-Coffee au sein d’un espace privatif est soumis à la réservation et à son paiement préalable. Celle-ci est effectuée par l’acheteur sur le site internet de Gusto-Coffee : https://www.gosto-coworking.fr. <br>
                                Toutes les réservations sont effectuées depuis le site internet et selon les disponibilités affichées sur celui-ci. La réservation n’est ferme et définitive qu’après réception de l’email de confirmation de réservation, lequel est envoyé à l’acheteur à l’issue du processus de paiement. <br>
                                Seuls les paiements par carte de crédit sont acceptés sur le site internet. Si l’acheteur ne peut régler le montant de la réservation par carte bancaire, il devra dans un premier temps en informer le personnel et se présenter à l’accueil avant le jour de la réservation afin de régler le montant par carte de crédit ou espèces (en euros) et de bloquer le créneau horaire souhaité.<br>
                                Aucune réservation ne peut être annulée ou remboursée sauf dans le cadre d’une annulation du seul fait de Gusto-Coffee. Dans ce dernier cas, le montant de la réservation initiale sera remboursé.
                            <hr>
                            <h6>Article 3 : Durée et horaires de la manifestation</h6>
                            <p class="card-text">
                                La durée de l’accès a l’espace privatif sera conforme aux horaires convenues au moment de la réservation. <br>
                                L’arrivée et le départ devront intervenir selon le créneau horaire convenu lors de la réservation. <br>
                                Pour tout dépassement d’horaires non prévu, un supplément sera facturé selon la durée de dépassement.
                            <hr>
                            <h6>Article 4 : Annulation de la réservation</h6>
                            <p class="card-text">
                                En cas d’annulation de la location et quelle qu’en soit la cause, Gusto-Coffee conservera en guise de frais d’annulation : Plus de 72 heures ouvrées avant la réservation : déplacement pour une date, sans frais. <br>
                                Entre 0 et 72 heures ouvrées avant la réservation : somme due = 100% du prix TTC. Gusto-Coffee ne procédera à aucun remboursement, la réservation ne pourra être annulée <br>
                            <hr>
                            <h6>Article 5 : Données personnelles</h6>
                            <p class="card-text">
                                L’acheteur est responsable de l’exactitude des informations saisies sur le formulaire de réservation. L’acheteur accepte de recevoir de la part de Gusto-Coffee des informations et offres commerciales sur son adresse email ou sur son téléphone mobile en cliquant sur la case d’autorisation du site internet. <br>
                                L’acheteur qui saisit ses coordonnées téléphoniques sur le site internet de Gusto-Coffee accepte d’ores et déjà d’être contacté par Gusto-Coffee ou toute autre société du groupe et ce par téléphone ou SMS. Gusto-Coffee s’engage à ne pas transmettre les données personnelles de ses utilisateurs à une société extérieure au groupe Gusto-Coffee, hors requête d’une autorité habilitée par la loi et dans le cadre des dispositions légales en vigueur. <br>
                            <hr>

                            <h6>Article 7 : Contestation</h6>
                            <p class="card-text">
                                Toute contestation relative aux présentes prestations relève de la seule compétence des tribunaux de Paris. <br>
                            <hr>
                            </p>
                        </div>
                    </div>
                </div>
        </section>
    </main>

{% endblock %}