{% extends 'base.html.twig' %}

{% block body %}
    <main class="my-5 toped">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-uppercase font-weight-bold">Reserver la {{ places.title }}</h2>
                </div>
                <div class="content">

                </div>
        </section>
    </main>
    <div class="container">
        <p>Le prix à l'heure est de <b>{{ places.price }}€</b></p>
        <a href="{{ path('booking_new', {id: places.getId()}) }}">Reservez </a>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Réserver
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ include('booking/_form.html.twig') }}
            </div>
        </div>
        {% include '@Calendar/calendar.html' %}
    </div>

{% endblock %}

