{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    <div class="bg"></div>
    <main class="">
        <div class="container">
            <section class="text-center my-5">
                <h2 class="h1-responsive font-weight-bold text-center my-5 text-uppercase">shop</h2>
                <div class="card-deck">
                    <div class="card">
                        <div class="view zoom">
                            <a href="{{ path('show_office') }}"><img src="{{ asset('image/fourniture.jpeg') }}" class="card-img-top" alt="..." style="cursor: pointer; width: 590px;"></a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="view zoom">
                            <a href="{{ path('show_cart') }}"><img src="{{ asset('image/food2.jpeg') }}" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}